body,
html {
    height: 100%;
}

.btn-return {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: -600px;
    margin-bottom: 20px;
}

.add-cons {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: -600px;
    margin-bottom: 20px;
}

.btn-buscar-pac {
    margin-left: 900px;
    margin-top: -30px;
}


/* The hero image */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../imagenes/pruebas.jpg");
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 70px;
}


/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-bottom: 20px;
}

.btn-search-pac {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: -80px;
    margin-left: 250px;
    margin-bottom: 20px;
}

.btn-add-pac {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: -600px;
    margin-bottom: 20px;
}

.pac-text-cc {
    margin-left: -300px;
    margin-top: -100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.pac-text-name {
    margin-left: 0px;
    margin-top: -100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.pac-text-add-cc {
    margin-left: -100px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 200px;
}

.pac-text-add-name {
    margin-left: -100px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    color: white;
}

.pac-text-add-lname {
    margin-left: -100px;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 200px;
}

.pac-text-add-mail {
    margin-left: 200px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.pac-text-add-date {
    margin-left: 200px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-added-pac {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.cit-search-date-1 {
    margin-left: -240px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cit-search-date-2 {
    margin-left: -60px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cit-search-cons {
    margin-left: -150px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cit-search-name {
    margin-left: 200px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cit-search-cc {
    margin-left: 200px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-search-cite {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.add-cit-cons-pac {
    margin-left: 0px;
    margin-top: -45px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.add-cit-date-pac {
    margin-left: 0px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.add-cit-hour-pac {
    margin-left: 0px;
    margin-top: -100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-cit-add {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.add-cod-cons {
    margin-left: -100px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.add-nam-cons {
    margin-left: -100px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.add-loc_cons {
    margin-left: 200px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.select-state {
    margin-left: 200px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-cons-add {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.upd-code-cons {
    margin-left: -100px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.upd-name-cons {
    margin-left: -100px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.upd-loc-cons {
    margin-left: 200px;
    margin-top: -180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.upd-state-cons {
    margin-left: 200px;
    margin-top: -90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-upd-cons {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.frm-cons-table {
    margin-top: -30px;
}

.imagen-inicio {
    text-align: center;
}

.btn-add {
    background-image: url("../../imagenes/add.png");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.btn-search {
    margin-left: 20px;
    background-image: url("../../imagenes/lupa.png");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.text-camp {
    width: 200px;
    height: auto;
}

.select-opt {
    width: 100px;
}

.btn-del {
    background-image: url("../../imagenes/remove.png");
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
}

.btn-upd {
    background-image: url("../../imagenes/pencil.png");
    background-color: transparent;
    margin-left: 20px;
    border: none;
    width: 32px;
    height: 32px;
}

.frm-consultorios {
    margin-top: 30px;
}

.enca {
    background: rgba(17, 16, 13, 0.5);
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.wrapper {
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}

.logo {
    color: #fff;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 70px;
    float: left;
}

.nav-b {
    line-height: 70px;
    float: right;
}

.nav-b a {
    color: #fff;
    display: inline-block;
    text-decoration: none !important;
    font-family: Arial;
    font-weight: bold;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.nav-b a:hover {
    color: #33cccc;
    border-bottom: 5px solid #33cccc;
}

@media only screen and (min-width:400px) and (max-width:767px) {
    .enca {
        height: 70px;
    }
    .logo {
        font-size: 30px;
        margin-left: 130px;
        margin-top: -15px;
    }
    .nav-b {
        margin-top: -40px;
        transform: translateX(-3%)
    }
}